---
import DasboardLayout from "../../layouts/dasboardLayout.astro";
---

<DasboardLayout description="" title="">
    <h1 transition:name="das" >Configuracion</h1>
</DasboardLayout>

<style>

</style>